<div class="mx-auto bg-dark" style="width: 40%;margin-top:10%;" >
<div class="btn-group dropright container">
    <button type="button" class="btn btn-secondary">
      Split dropright
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropright</span>
    </button>
    <div class="dropdown-menu">
      <!-- Dropdown menu links -->
    </div>
  </div>
  <div class="ml-5 mt-4">
  <button type="button" class="btn btn-outline-primary">ignore</button>
  <button type="button" class="btn btn-outline-secondary" style="margin-left: 350px;">Valide</button>
</div>
