<div class="container col-md-6 mt-5">
<div class="card">
    <div class="media">
    <img class="mr-3" src="assets/img/icon3.png" alt="">
    </div>
    <div class="card-body">
      <h5 class="card-title">User name:</h5>
      <p class="card-text">Nom Etablissement:</p><p></p>
      <p class="card-text">Nom filiere:</p><p></p>
      <p class="card-text">Date naissance:</p><p></p>
      <p class="card-text">Saison de formation:</p><p></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div></div>