<div class="jumbotron container col-md-6 mt-4">
    
        <h1 class="display-4">Entrer vos information</h1><br>
        
        <div class="input-group"> 
         
          <br>
            <input type="text" class="form-control" placeholder="Recipient's username" 
            aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
             
              
            </div>
          </div>
    
          <div class="input-group mt-1">
              <input type="text" class="form-control" placeholder="Recipient's username" 
              aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                
                
              </div>
            </div>
    
            <div class="input-group mt-1">
                <input type="text" class="form-control" placeholder="Recipient's username" 
                aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                 
                  
                </div>
              </div>
    
    
              <div class="input-group mt-1">
                  <input type="text" class="form-control" placeholder="Recipient's username" 
                  aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                   
                    
                  </div>
                </div> 
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>