<div class="container">
<div class="row ">
         <div class="espacelistmodule">
         <ul class="list-group ">
               <li class="list-group-item"><a routerLink="/forum/modUle/mod1" href="#">First item</a> </li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li> </ul>
          
    
    </div> 
      <div  class="mx-auto " style="width: 60%;">
         <router-outlet ></router-outlet>

          </div></div>
</div>

     
     