
 <div class="menuchoix container col-md-6">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLink="/forum/filiere" class="nav-link active" href="#">Module</a>
  </li>
  <li class="nav-item">
    <a routerLink="/forum/statut" class="nav-link" href="#">Statut</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Nouvelle!!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

</div>
<router-outlet ></router-outlet>
