<div class="container">
    <div id="carouselExampleControls" class="carousel slide col-md-12 row img-fluid  " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

              <div class="card bg-dark text-white">
                  <img class="card-img" src="assets/img/Casroulimg1.png" alt="Card image">
                  <div class="card-img-overlay mt-5 ml-5" style="color:black">
                    <h4 class="card-title ml-4">Espace Etablissement</h4>
                    <p class="card-text ml-5">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text ml-5">Last updated 3 mins ago</p>
                    <button routerLink="/espaceeta" class="btn btn-primary ml-5">Click here</button>
                  </div>
                </div>
        


          </div>


          <div class="carousel-item">
              <div class="card bg-dark text-white">
                  <img class="card-img" src="assets/img/Casroulimg2.png" alt="Card image">
                  <div class="card-img-overlay mt-5 ml-5" style="color:black">
                    <h4 class="card-title ml-4">Espace Departement</h4>
                    <p class="card-text ml-5">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text ml-5">Last updated 3 mins ago</p>
                    <button routerLink="/espacedep" class="btn btn-primary ml-5">Click here</button>
                  </div>
                </div>
          </div>




          <div class="carousel-item">
              <div class="card bg-dark text-white">
                  <img class="card-img" src="assets/img/Casroulimg3.png" alt="Card image">
                  <div class="card-img-overlay mt-5 ml-5" style="color:black">
                    <h4 class="card-title ml-4">Espace Gérant</h4>
                    <p class="card-text ml-5">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text ml-5">Last updated 3 mins ago</p>
                    <button routerLink="/espaceger" class="btn btn-primary ml-5">Click here</button>
                  </div>
                </div>
          </div>



        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
  
  
  <!--card-->
  <router-outlet></router-outlet>
  
  
  